---
---
<!DOCTYPE html>
<html>

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/favicon/site.webmanifest">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{site.baseurl}}/css/master.css">
  <script src="{{site.baseurl}}/js/pixi.js"></script>

  <title>Courtney McBeth</title>
</head>

<body>
  {% include navbar.html %}

  <div class="full" id="top">
    <div class="center-middle">
      <h1>Courtney McBeth</h1>
      <h2>Computer Science PhD Student</h2>
      <h3>University of Illinois Urbana-Champaign</h3>
    </div>
  </div>

  <div class="content" id="about">
    <h2>About Me</h2>
    <p>
      Before beginning my PhD studies at UIUC, I graduated Magna Cum Laude from Cornell University. There, I majored in
      both Computer Science and Electrical and Computer Engineering with a minor in Business. I was also a
      member of the Cornell Autonomous Sailboat Team (CUSail). Outside of
      academia, I've interned at several major corporations inlcuding Ford Motor Company. Currently, I am a member of
      the Parasol Lab at UIUC where I do research into the field of robotics.
    </p>
  </div>

  <div class="green content" id="research">
    <h2>Research Interests</h2>
  </div>

  {% include footer.html %}

  <script src="{{site.baseurl}}/js/main.js"></script>
</body>

</html>